.index-content__right
  .index-content__right_banner.js-animate: img.w-100(src='./templates/images/banner_right.jpg' srcset='./templates/images/banner_right@2x.jpg 2x' alt='Ve may bay Thanh Tung')
  
  ul.js-nivoSlider.banner_slider.js-animate.d-none.d-lg-block
    li: img.w-100(src='./templates/images/banner_right.jpg' srcset='./templates/images/banner_right@2x.jpg 2x' alt='Ve may bay Thanh Tung')
    li: img.w-100(src='./templates/images/banner_right1.jpg' srcset='./templates/images/banner_right1@2x.jpg 2x' alt='Ve may bay Thanh Tung')

  .box-right.js-animate: img.w-100(src='./templates/images/lichcongtac.png' alt='Ve may bay Thanh Tung')
  
  .box-news__list.box-right.js-animate
    h2.title.title-02 
      i.fas.fa-book
      |văn kiện đại hội.
    ul
      li: a(href="#")
        i.fas.fa-arrow-alt-circle-right
        | Chỉ đạo, điều hành của Chính phủ, Thủ tướng Chính phủ nổi bật tuần từ 1-5/2/2021 Chỉ đạo, điều hành của Chính phủ, Thủ tướng Chính phủ nổi bật tuần từ 1-5/2/202
      li: a(href="#")
        i.fas.fa-arrow-alt-circle-right
        | Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội
      li: a(href="#")
        i.fas.fa-arrow-alt-circle-right
        | Chỉ đạo, điều hành của Chính phủ, Thủ tướng Chính phủ nổi bật tuần từ 1-5/2/2021
      li: a(href="#")
        i.fas.fa-arrow-alt-circle-right
        | Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội
  .box-partner__list.box-right.js-animate
    h2.title.title-02 
      i.fas.fa-users
      |đơn vị trực thuộc
    ul.js-slider-partner
      li: a(href="#"): img.w-100(src='./templates/images/partner.jpg' srcset='./templates/images/partner@2x.jpg 2x' alt='Ve may bay Thanh Tung')
      li: a(href="#"): img.w-100(src='./templates/images/tin_tuc1.jpg' srcset='./templates/images/tin_tuc1@2x.jpg 2x' alt='Ve may bay Thanh Tung')
      li: a(href="#"): img.w-100(src='./templates/images/partner.jpg' srcset='./templates/images/partner@2x.jpg 2x' alt='Ve may bay Thanh Tung')
      li: a(href="#"): img.w-100(src='./templates/images/tin_tuc1.jpg' srcset='./templates/images/tin-tuc@2x.jpg 2x' alt='Ve may bay Thanh Tung')
  
  .box-link__list.box-right.js-animate
    h2.title.title-02 
      i.fas.fa-rss
      | liên kết website
    .link_list
      select#selectLink(name='')
        option(value='' selected='') -- Chọn liên kết --
        option(value='http://baochinhphu.vn/') Báo Điện tử Chính phủ
        option(value='http://quehuongonline.vn/') Tạp chí Quê Hương
        option(value='http://dangcongsan.vn') Báo Điện tử Đảng Cộng sản Việt Nam
        option(value='http://quochoi.vn') Quốc hội
        option(value='http://www.vietnamplus.vn') Thông tấn xã Việt Nam
        option(value='http://www.nhandan.org.vn') Báo Nhân dân
        option(value='http://www.qdnd.vn') Quân đội Nhân dân
        option(value='http://www.mofa.gov.vn') Bộ Ngoại giao Việt Nam
        option(value='http://www.hochiminhcity.gov.vn') TP Hồ Chí Minh
        option(value='https://thudo.gov.vn') Thủ đô Hà Nội
        option(value='http://www.tapchicongsan.org.vn' ) Tạp chí Cộng Sản
        option(value='http://www.xaydungdang.org.vn' ) Tạp chí Xây dựng Đảng
        option(value='http://www.sggp.org.vn' ) Báo SGGP
        option(value='http://www.hanoimoi.com.vn' ) Báo Hà Nội mới
        option(value='http://www.vneconomy.com.vn' ) Thời báo Kinh tế Việt Nam
        option(value='http://www.laodong.com.vn' ) Báo Lao động
        option(value='http://baodautu.vn' ) Báo Đầu tư
        option(value='http://vnexpress.net' ) Vietnam Express
        option(value='http://www.vietnamnet.vn' ) Vietnamnet
        option(value='http://www.nld.com.vn' ) Báo Người Lao động
        option(value='http://www.gdtd.vn') Báo Giáo dục và Thời đại
        option(value='http://www.baodongnai.com.vn') Báo Ðồng Nai
        option(value='http://www.baobinhdinh.com.vn') Báo Bình Định
        option(value='http://www.chinatoday.com/org/cpc') ĐCS Trung Quốc
        option(value='http://www.kprf.ru') ĐCS Liên Bang Nga
        option(value='http://www.cpusa.org') ĐCS Mỹ
        option(value='http://www.pcf.fr') ĐCS Pháp
        option(value='http://www.caobang.gov.vn') Cao Bằng
        option(value='http://www.bacgiang.gov.vn/') Bắc Giang
        option(value='http://www.bacninh.gov.vn') Bắc Ninh
        option(value='http://haiphong.gov.vn') TP Hải Phòng
        option(value='http://www.hue.vnn.vn') TP Huế
        option(value='http://www.danang.gov.vn') TP Đà Nẵng
        option(value='http://www.binhthuan.gov.vn') Bình Thuận
        option(value='http://www.binhphuoc.gov.vn') Bình Phước
        option(value='http://www.binhduong.gov.vn') Bình Dương
        option(value='https://www.dongnai.gov.vn') Đồng Nai
        option(value='http://www.baria-vungtau.gov.vn') Bà Rịa - Vũng Tàu
        option(value='https://dongthap.gov.vn') Đồng Tháp
        option(value='http://www.cantho.gov.vn') Cần Thơ
        option(value='http://www.camau.gov.vn') Cà Mau
        option(value='http://www.hagiang.gov.vn') Hà Giang
        option(value='http://laocai.gov.vn') Lào Cai
        option(value='http://www.thainguyen.gov.vn') Thái Nguyên
        option(value='http://www.hanam.gov.vn') Hà Nam
        option(value='http://www.thanhhoa.gov.vn') Thanh Hóa
        option(value='http://www.nghean.gov.vn') Nghệ An
        option(value='http://www.quangnam.gov.vn') Quảng Nam
        option(value='http://www.tayninh.gov.vn') Tây Ninh

  .box-video__list.box-right.js-animate
    h2.title.title-02 
      i.fab.fa-youtube
      | video sự kiện
    .lists_video
      p#video-1.video-content.current: iframe(src='https://www.youtube.com/embed/-FDDWF4y6vc' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      p#video-2.video-content: iframe(src='https://www.youtube.com/embed/M8U7PR6fQNA' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      p#video-3.video-content: iframe(src='https://www.youtube.com/embed/-FDDWF4y6vc' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    ul.lists_video_title
      li.current(data-video='video-1'): p
        i.fas.fa-play-circle
        |Người hùng cứu bé gái rơi từ tầng 12A chung cư cảm thấy tiếc vì để cháu bé bị thương chung cư cảm thấy tiếc vì để cháu bé bị thương
      li(data-video='video-2'): p
        i.fas.fa-play-circle
        |Người hùng cứu bé gái rơi từ tầng 12A chung cư cảm thấy tiếc vì để cháu bé bị thương
      li(data-video='video-3'): p
        i.fas.fa-play-circle
        |Người hùng cứu bé gái rơi từ tầng 12A chung cư cảm thấy tiếc vì để cháu bé bị thương
      
