header.header
  .container
    .row
      .col-12.col-lg-8.col-md-8
        .logo
          a(href='/'): img(src='./templates/images/logo.png' srcset='./templates/images/logo@2x.png 2x' alt='Ve may bay Thanh Tung')
      .col-lg-4.col-md-4.d-none.d-md-block
        ul.js-slider.nivoSlider.slider_top
          li: img(src='./templates/images/slide_top.png' data-thumb="./templates/images/slide_top.png" alt='Ve may bay Thanh Tung')
          li: img(src='./templates/images/slide_top.png' data-thumb="./templates/images/slide_top.png" alt='Ve may bay Thanh Tung')
          li: img(src='./templates/images/slide_top.png' data-thumb="./templates/images/slide_top.png" alt='Ve may bay Thanh Tung')


        


