header.header
  .container
    .col-12
      .logo
        a(href='/'): img.w-100(src='./templates/images/logo.png' srcset='./templates/images/logo@2x.png 2x' alt='Ve may bay Thanh Tung')
      ul.js-nivoSlider.slider_top
        li: img(src='./templates/images/tin_tuc.jpg' data-thumb="./templates/images/tin_tuc.jpg" alt='Ve may bay Thanh Tung')
        li: img(src='./templates/images/tin_tuc1.jpg' data-thumb="./templates/images/tin_tuc1.jpg" alt='Ve may bay Thanh Tung')
        li: img(src='./templates/images/slide_top.png' data-thumb="./templates/images/slide_top.png" alt='Ve may bay Thanh Tung')


