.box-news-thesame.js-animate
  h2.title.title-02 
    i.fas.fa-book
    |Tin tức liên quan
  ul
    li: a(href="#")
      i.fas.fa-arrow-alt-circle-right
      | Chỉ đạo, điều hành của Chính phủ, Thủ tướng Chính phủ nổi bật tuần từ 1-5/2/2021 Chỉ đạo, điều hành của Chính phủ, Thủ tướng Chính phủ nổi bật tuần từ 1-5/2/202
    li: a(href="#")
      i.fas.fa-arrow-alt-circle-right
      | Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội
    li: a(href="#")
      i.fas.fa-arrow-alt-circle-right
      | Chỉ đạo, điều hành của Chính phủ, Thủ tướng Chính phủ nổi bật tuần từ 1-5/2/2021
    li: a(href="#")
      i.fas.fa-arrow-alt-circle-right
      | Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội Khai mạc phiên họp thứ 53 uỷ ban thường vụ quốc hội
  