@charset "utf-8";
@import "style.scss";


.index-content {
  position: relative;
  .box-white {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    position: relative;
    margin: 30px 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__section1_top {
    padding-top: 10px;
    padding-bottom: 10px;
    &__box {
      .slick-slide {
        outline: 0;
      }
      .item {
        position: relative;
        a {
          img {
            width: 100%;
          }
        }
        .content_item {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          color: #ffffff;
          background: rgba(0, 0, 0, 0.7);
          padding: 1.5rem;
          h3 {
            font-size: 1.7rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.3;
            -webkit-line-clamp: 2;
            height: 45px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            @media screen and (max-width: 350px){
              font-size: 1.5rem;
              -webkit-line-clamp: 3;
            }
          }
        }
      }
      .item-thumbnail {
        cursor: pointer;
        display: flex !important;
        align-items: center;
        margin: 3% 0;
        .item-images {
          width: 35%;
          outline: 0;
          img {
            width: 100%;
          }
        }
        .thumbnail_content {
          outline: 0;
          width: 65%;
          padding-left: 3%;
          h3 {
            outline: 0;
            font-size: 1.3rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.35;
            -webkit-line-clamp: 3;
            height: 50px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            @include transition;
            @include hover{
              color: $linkColor02;
            }
           
          }
        }
      }
      .js-slider-nav {
        .slick-track {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
  // end section1
  &__section2_top {
    &__box {
      .item {
        display: flex;
        flex-wrap: wrap;
        .item-images,
        .content_item {
          width: 50%;
        }
        .item-images {
          padding-right: 2%;
        }
        .content_item {
          h3 {
            font-size: 1.7rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.3;
            -webkit-line-clamp: 4;
            height: 90px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            color: #111111;
            margin-bottom: 3%;
            @include transition;
            @include hover{
              color: $linkColor02;
            }
            @media screen and (max-width: 350px){
              font-size: 1.5rem;
              -webkit-line-clamp: 3;
              height: 45px;
            }
          }
          .post-date {
            font-size: 1.4rem;
            color: rgb(51, 51, 51);
            font-style: italic;
          }
        }

        .des_item {
          width: 100%;
          font-size: 1.5rem;
          color: rgb(102, 102, 102);
          line-height: 1.5;
          margin-top: 15px;
        }
      }
    }
    &__list {
      padding-bottom: 30px;
      @include sp{
        margin-top: 10px;
        padding-bottom: 10px;
      }
      li {
        &:not(:last-child) {
          border-bottom: 1px dashed rgb(51, 51, 51);
        }
        padding: 1% 0;
        a {
          font-size: 1.5rem;
          color: rgb(51, 51, 51);
          line-height: (25/15);
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          height: 50px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          @include hover {
            color: $linkColor02;
          }
          @media screen and (max-width: 350px){
            height: 40px;
          }
          
         
        }
        @include transition;
        i {
          color: $linkColor02;
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }
  // end section2

}
